<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Čakalne dobe zdravstvenih storitev</title>
  </head>
  <body>
    <p>
      Spodnja tabela prikazuje najkrajšo čakalno dobo za zdravstvene storitve v Sloveniji.
      Z <span style="color: red;">rdečo</span> so pobarvane čakalne dobe, ki prekoračujejo najdaljšo dopustno čakalno dobo za stopnjo nujnosti.
    </p>
    <p>
      Podatki so bili pridobljeni {{.Start.Format "2. 1. 2006 15:04:05"}}.
    </p>
    <table border="1">
      <tr>
        <th style="font-weight: bold;">Koda</th>
        <th style="font-weight: bold;">Naziv</th>
        <th style="font-weight: bold; text-align: center;">Nujnost: redno</th>
        <th style="font-weight: bold; text-align: center;">Nujnost: hitro</th>
        <th style="font-weight: bold; text-align: center;">Nujnost: zelo hitro</th>
      </tr>
      {{range $procedure := .Procedures}}
        <tr>
          <td>{{.Code}}</td>
          <td>{{.Name}}</td>
          {{if gt (len .WaitingPeriods.Regular) 0}}
            {{with $wp := index .WaitingPeriods.Regular 0}}
              <td style="text-align: center;{{if gt $wp.Days $procedure.MaxAllowedDays.Regular}} color: red;{{end}}">{{$wp.Days}}</td>
            {{end}}
          {{else}}
            <td style="text-align: center; color: red;">ni na voljo</td>
          {{end}}
          {{if gt (len .WaitingPeriods.Fast) 0}}
            {{with $wp := index .WaitingPeriods.Fast 0}}
              <td style="text-align: center;{{if gt $wp.Days $procedure.MaxAllowedDays.Fast}} color: red;{{end}}">{{$wp.Days}}</td>
            {{end}}
          {{else}}
            <td style="text-align: center; color: red;">ni na voljo</td>
          {{end}}
          {{if gt (len .WaitingPeriods.VeryFast) 0}}
            {{with $wp := index .WaitingPeriods.VeryFast 0}}
              <td style="text-align: center;{{if gt $wp.Days $procedure.MaxAllowedDays.VeryFast}} color: red;{{end}}">{{$wp.Days}}</td>
            {{end}}
          {{else}}
            <td style="text-align: center; color: red;">ni na voljo</td>
          {{end}}
        </tr>
      {{end}}
    </table>
  </body>
</html>
